{
  "presets": ["babel-preset-expo"],
  "env": {
    "development": {
      "plugins": [
        "transform-react-jsx-source",
        [
          "module-resolver",
          {
            "root": ["./src"],
            "alias": {
              "screens": "./src/screens",
              "components": "./src/components",
              "navigators": "./src/navigators",
              "store": "./src/store",
              "api": "./src/api"
            }
          }
        ]
      ]
    }
  }
}
